[flake8]
# E501: line length (handled by black)
# W503, E203: Not PEP8 compliant (incompatible with black)
# Ignore generated code
ignore = E501,W503,E203
exclude =
    .git,
    __pycache__,
    ./azure-iot-provisioning-servicesdk/azure/iot/provisioning/servicesdk/protocol/models
    ./azure-iot-hub/azure/iot/hub/protocol
    ./azure_provisioning_e2e/iothubservice20180630/
