repos:
-   repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black
      language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.1  # Use the ref you want to point at
    hooks:
    -   id: flake8
        args: ['--config=.flake8']