pytest
pytest-mock
pytest-testdox>=1.1.1
pytest-cov
pytest-timeout
flake8
azure-iothub-provisioningserviceclient >= 1.2.0  # Only needed for end to end tests for DPS
azure-eventhub # for device_e2e
psutil # for device_e2e
