pytest < 8.0.0
pytest-asyncio <= 0.16
pytest-mock
pytest-testdox>=1.1.1
pytest-cov
pytest-timeout
flake8
azure-iot-hub                                    # Only needed for iothub e2e
azure-iothub-provisioningserviceclient >= 1.2.0  # Only needed for provisioning e2e
azure-eventhub                                   # Only needed for iothub e2e
psutil                                           # Only needed for iothub e2e
