pytest
pytest-mock==1.10.4  # breaking change (for us at least) in 1.11.0 renders our tests unpassable under 2.7
pytest-asyncio; python_version >= '3.5'
pytest-testdox>=1.1.1
pytest-cov
pytest-timeout
mock #remove this as soon as no references to it remain in the code
flake8
azure-iothub-provisioningserviceclient >= 1.2.0  # Only needed for end to end tests for DPS